In [2]:
import pandas as pd
from datetime import datetime
from flask import jsonify

In [7]:
df1 = pd.DataFrame({"index": [1, 0], "date": [datetime.now(), 1],"sentiment": [0, 1], "pred": [5,1], "pred_sent": [0,1]})
df1.to_pickle("./data/predictions.pkl")
df1

   index                        date  sentiment  pred  pred_sent
0      1  2022-04-17 20:43:36.406572          0     5          0
1      0                           1          1     1          1

In [36]:
df2 = pd.DataFrame({"index""date": [2],"sentiment": [2], "pred": [2], "pred_sent": [2]})

In [38]:
pd.concat([df1, df2])
df1

                         date  sentiment  pred  pred_sent
0  2022-04-17 20:22:23.417572          0     5          0
1                           1          1     1          1

In [46]:
result = df.head(10).to_json(orient="index")
result

'{"0":{"date":1650227260186,"sentiment":0.1397466968,"pred":39417.1534001163,"pred_sent":39439.9838883184},"1":{"date":null,"sentiment":0.0,"pred":0.0,"pred_sent":0.0}}'

In [4]:
df = pd.read_pickle("./data/predictions.pkl")
df.shape[0]

2